.item {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  background-color: #457b9d;
  width: 300px;
  height: 200px;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Geçiş animasyonu */
}

.item:hover {
  transform: scale(1.4); /* Tüm öğeyi büyüt */
  background-color: darkblue; /* Arka plan rengini değiştir */
}

.item img {
  transition: transform 0.6s ease; /* Resim dönerken animasyonu yumuşat */
}

.item:hover img {
  transform: scale(1) rotate(360deg); /* Resmi %20 büyüt ve 360 derece döndür */
}

.item h3 {
  margin: 0;
}

.item p {
}
img {
  width: 160px;
  border-radius: 20px;
}
