.item-list {
  width: fit-content;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #a8dadc;
}

.item-list h2 {
  text-align: center;
  color: #333;
}
